/* -----------Header all pages----------- */

body{
	font-family: 'Manjari', sans-serif;
}

header{
	background: #BBBBBB;
	padding: 20px 0 ;
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 110px;
	right: 0;
}
nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	color: #000000;
	font-size: 22px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}

/* -----------Home----------- */

.banner{
	width: 100%;
}

.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal{
	margin: 0 0 1em;
}

.utensilios{
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.principal{
	background-color: #FEFEFE;
	width: 940px;
	margin: 0 auto;
	padding: 50px;
}

.principal p{
	margin: 0 0 1em;
}

.principal em{
	font-style: italic;
}

.principal strong{
	font-weight: bold;
}

.mapa{
	padding: 3em 0;
	background: linear-gradient(#FEFEFE,#888888);
}

.mapa p{
	margin: 0 0 2em 0;
	text-align: center;
}

.mapa-conteudo{
	width: 940px;
	margin: 0 auto;
}

.conteudo-beneficios{
	width: 940px;
	margin: 0 auto;
}

.beneficios{
	padding: 2em 0;
	background-color: #888888;
}

.lista-beneficios{
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens{
	line-height: 1.5em;
	font-size: 17px;
}

.itens::before{
	content:"★";
	margin-right: 8px;
}

.itens:first-child{
	font-weight: bold;
}

.img-beneficios{
	width: 60%;
}

.video{
	width: 560px;
	margin: 2em auto;
}


/* -----------Produtos----------- */

.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 3em 0;
}

.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover{
	border-color: #C78C19;
}

.produtos li:hover h2{
	font-size: 34px;
}

.produtos li:active{
	border-color: green;
}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
}

.produtos-descricao{
	font-size: 18px;
	margin-top: 10px;
}

.produtos-preco{
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

/* -----------Contato----------- */

.maincontato{
	width: 940px;
	margin: 0 auto;
}

.maincontato form{
	margin: 40px 0;
}

form label,form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.maincontato fieldset{
	margin: 20px 0;
}

.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 5px 5px 5px 5px;
	width: 40%;
}



.submit{
	padding: 10px 40px;
	font-size: 18px;
	margin: 20px 0 0 60px;
	background-color: orange;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	transition: 0.5s all;
	cursor: pointer;
}

.submit:hover{
	background-color: darkorange;
	transform: scale(1.05);
}

table{
	margin: 20px 0 40px ;
}

thead{
	background-color: #555555;
	color: white;
	font-weight: bold;
}

th, td{
	border: 1px solid #000000;
	padding: 5px;
}


/*----------------------------------------*/

@media screen and (max-width: 480px) {
	.caixa, .principal, .mapa-conteudo, .conteudo-beneficios, .video, .produtos, .maincontato {
		width: auto;
	}
	h1{
		text-align: center;
	}
	nav{
		position: static;
		text-align: center;
	}
	.lista-beneficios, .img-beneficios{
		width: 100%;
	}
	.produtos li{
		width: 90%;
		margin: 0 0 20px 20px;
	}
}

/* -----------Footer all pages----------- */

footer {
	text-align: center;
	background: url("/assets/img/bg.jpg");
	background-color: black;
	padding: 40px 0;
}

.copyright{
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
}
